appdirs==1.4.3
asgiref==3.2.3
astroid==2.3.3
distlib==0.3.0
Django==3.0.7
django-mysql==3.3.0
filelock==3.0.12
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysqlclient==2.0.1
numpy==1.18.2
pandas==1.0.3
pulp==2.0
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.1
virtualenv==20.0.4
wrapt==1.11.2
zipp==2.2.0
