<div class="row my-4">
  <div class="col-12">
      <h2>{{ band.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <p>メンバー</p>
  </div>
  <div class="col-9">
    {% for member in members %}
      <div>
        <a class="text-dark" href="{% url 'member_detail' member.pk %}">{{ member }}</a>
      </div>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col-3">
      <p>備考</p>
  </div>
  <div class="col-9">
      <p>{{ band.memo|linebreaksbr }}</p>
  </div>
</div>