{% extends "./_base.html" %}
{% block content %}
<div class="container">
    {% include "./event_card.html" %}
    <div class="row">
        <div class="col-12">
            <div class="float-left">
                <a class="btn btn-outline-secondary" href="{% url 'update' event.pk %}">編集</a>
                <a class="btn btn-outline-secondary" href="{% url 'generate' event.pk %}">スケジュールを生成</a>
            </div>
            <div class="float-right">
                <a class="btn btn-outline-secondary" href="{% url 'event_list' %}">戻る</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}