{% extends "./_base.html" %}
{% block content %} 
<div class="container">
  <div class="row my-4">
    <div class="col-12">
      <h2>希望時間入力画面</h2>
      <form action="result/" method="post">
        <div class="row mb-2">
          <div class="col-2 text-right">
            時刻
          </div>
          <div class="col-8 d-flex justify-content-between">
            {% with ''|center:14 as range %}
              {% for _ in range %}
                <div class="d-inline">{{ forloop.counter|add:"8" }}</div>
              {% endfor %}
            {% endwith %}
          </div>
        </div>
        {% csrf_token %}
        {% for band in bands %}
          <div class="row mb-2">
            <div class="col-2">
              {{ band }}
            </div>
            <div class="col-8 d-flex justify-content-between">
              {% with ''|center:27 as range %}
                {% for _ in range %}
                  <div class="form-check form-check-inline">
                    <input class="form-check-input {{ band }}" type="checkbox" id="{{ band }}_{{ forloop.counter0 }}" name="{{ band }}_{{ forloop.counter0 }}">
                    <label class="form-check-label {{ band }}" for="{{ band }}_{{ forloop.counter0 }}"></label>
                  </div>
                {% endfor %}
              {% endwith %}
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-outline-secondary btn-sm select-all" name="{{ band }}">全選択</button>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-outline-secondary btn-sm non-select-all" name="{{ band }}">全解除</button>
            </div>
          </div>
        {% endfor %}
        <input type="submit" class="btn btn-outline-secondary mt-2" value="土スケを生成">
      </form>
    </div>
  </div>
</div>
{% endblock %}
