{% extends "./_base.html" %}
{% block content %} 
<div class="container">
  <div class="row my-4">
    <div class="col-12">
      <h2>希望時間入力画面</h2>
      <form action="result/" method="post">
        <div class="row mb-2">
          <div class="col-12">
            <input type="submit" class="btn btn-outline-secondary mt-2" value="土スケを生成">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-2 text-right">
            日時
          </div>
          <div class="col-8 d-flex justify-content-between">
            {% with ''|center:14 as range %}
              {% for _ in range %}
                <div class="d-inline">{{ forloop.counter|add:"8" }}</div>
              {% endfor %}
            {% endwith %}
          </div>
        </div>
        {% csrf_token %}
        {% for band in bands %}
          {% for day in '12345'|make_list %}
            <div class="row mb-2">
              <div class="col-1 text-right">
                {% if forloop.first %}
                  {{ band }}
                {% endif %}
              </div>
              <div class="col-1 text-right">
                {{ day }}日目
              </div>
              <div class="col-8 d-flex justify-content-between">
                {% for _ in ''|center:27 %}
                  <div class="form-check form-check-inline">
                    <input class="form-check-input {{ band }}_{{ day }}" type="checkbox" id="{{ band }}_{{ day }}_{{ forloop.counter0 }}" name="{{ band }}_{{ day }}_{{ forloop.counter0 }}">
                    <label class="form-check-label {{ band }}_{{ day }}" for="{{ band }}_{{ day }}_{{ forloop.counter0 }}"></label>
                  </div>
                {% endfor %}
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-outline-secondary btn-sm select-all" name="{{ band }}_{{ day }}">全選択</button>
              </div>
              <div class="col-1">
                <button type="button" class="btn btn-outline-secondary btn-sm non-select-all" name="{{ band }}_{{ day }}">全解除</button>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
        <input type="submit" class="btn btn-outline-secondary mt-2" value="土スケを生成">
      </form>
    </div>
  </div>
</div>
{% endblock %}
