{% extends "./_base.html" %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-outline-secondary" href="{% url 'create' %}">Add new set</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for item in item_list %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <p>イベント</p>
                        </div>
                        <div class="col-9">
                            <p>{{ item.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>バンド</p>
                        </div>
                        <div class="col-9">
                            <p>{{item.band_list}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right">
                                <a class="btn btn-outline-secondary " href="{% url 'detail' item.pk %}">Generate schedule</a>
                                <a class="btn btn-outline-secondary " href="{% url 'update' item.pk %}">Edit</a>
                                <a class="btn btn-outline-secondary " href="{% url 'delete' item.pk %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">
                    対象のデータがありません
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
