{% extends "./_base.html" %}
{% block content %} 
<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-outline-secondary" href="{% url 'member_create' %}">メンバー作成</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for member in member_list %}
                <li class="list-group-item">
                    <div class="float-left">
                        <p>{{ member.name }}</p>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-outline-secondary" href="{% url 'member_detail' member.pk %}">詳細</a>
                        <a class="btn btn-outline-secondary" href="{% url 'member_update' member.pk %}">編集</a>
                        <a class="btn btn-outline-secondary" href="{% url 'member_delete' member.pk %}">削除</a>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">
                    対象のデータがありません
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
